@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Oleo Script', cursive;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    background-color: #21252a;
}